.controller.custom{
	background: url(https://i.imgur.com/RJA1fbb.png);
	height: 250px;
	width: 726px;
}
.custom.disconnected {
	background: url(https://i.imgur.com/UVw7M3p.png);
}
.custom.disconnected div {
	display: none;
}
/* Trigger Buttons */
.custom .triggers{
 	width: 32px;
    	height: 90px;
    	position: absolute;
    	left: 99px;
}
.custom .trigger{
	width: 32px;
    	height: 45px;
    	background: url();
    	opacity: 0;
}
.custom .trigger-button.left.pressed{
	background: url(https://i.imgur.com/bCEUlkG.png);
}
.custom .trigger.right{
	float: right;
}

/* Start and Select Buttons */
.custom .arrows{
	position: absolute;
	width: 205px;
	height: 19px;
	top: 250px;
	left: 291px;
}
.custom .back, .custom .start{
	position: absolute;
	width: 28px;
	height: 29px;
}
.custom .back.pressed{
	top: -117px;
	left: -241px;
	background: url(https://i.imgur.com/yBP8UnC.png);
}
.custom .start.pressed{
    top: -96px;
	left: -270px;
    background: url(https://i.imgur.com/bCEUlkG.png);
}
/* Face Buttons */
.custom .abxy{
	position: absolute;
	width: 204px;
	height: 205px;
	top: 156px;
	left: 538px;
}
.custom .button{
	position: absolute;
	width: 34px;
	height: 48px;
}
.custom .button.a.pressed{
	top: -56px;
	left: -66px;
	background: url(https://i.imgur.com/gQiDRBV.png);
}
.custom .button.b.pressed{
    	top: -56px;
        right: 195px;
        background: url(https://i.imgur.com/G11yJlS.png);
}
.custom .button.x.pressed{
    	top: -56px;
        left: -106px;
        background: url(https://i.imgur.com/cFym3Bt.png);
}
.custom .button.y.pressed{
        top: -56px;
    	left: -147px;
    	background: url(https://i.imgur.com/uNOq5z4.png);
}
/* Dpad Positioning and Sizing */
.custom .dpad{

}    
.custom .face{
    	position: absolute;
    	width: 204px;
	    height: 205px;
	    top: 156px;
	    left: 538px;
}
.custom .face.up, .custom .face.down{
	    width: 38px;
    	height: 52px;
}
.custom .face.left, .custom .face.right{
	    width: 38px;
    	height: 52px;
}
.custom .face.up.pressed{
	    left: 50px;
    	top: 0;
    	background: url(https://i.imgur.com/8G8pHIr.png);
}
.custom .face.down.pressed{
        left: 50px;
    	top: 0;
    	background: url(https://i.imgur.com/8G8pHIr.png);
}
.custom .face.left.pressed{
        left: 50px;
    	top: 0;
    	background: url(https://i.imgur.com/8G8pHIr.png);
}
.custom .face.right.pressed{
        left: 50px;
    	top: 0;
    	background: url(https://i.imgur.com/8G8pHIr.png);
}

